/*##########################################################*/
/*##########################################################*/
/*##########################################################*/

/*Generell*/
* {
    padding: 0;
    margin: 0;

}

html { 
    background: url(Bilde9.jpeg) no-repeat center center fixed; /*Tenkte på å bytte bakgrunn, men alle de andre bildene har så dårlig kvalitet.*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    z-index: -1;
}
/*##########################################################*/
/*##########################################################*/
/*##########################################################*/

/*Innhold*/

.Innhold {
    background-color:rgba(0, 0, 0, 0.5);
    height: 850px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.prisboks, .ordensregler {
    width: 600px;
}

h2, p {
    color: white;
    padding: 10px 10px;
}
h2 {
    font-size: 38px;
    text-align: left;
}
p {
    font-size: 18px;
    text-align: left;
    transition: 0.25s;

}
p:hover {
    color: wheat;
    transition: 0.25s;

}

/*##########################################################*/
/*##########################################################*/
/*##########################################################*/